:host {
    display: block;
}

:host:not(:defined) {
    display: none;
}

.cell-container {
    height: 100%;
    display: flex;
    gap: 20px;
}

.cell {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    background: var(--background-color);
    border: var(--foreground-color) solid;
    border-top: none;
}

.elevator {
    width: var(--kakao-elevator-size);
    height: var(--kakao-elevator-size);
    background: var(--kakao-theme-primary);
    position: relative;
}

.elevator[status=moving], .elevator[status=standby] {
    background: var(--kakao-theme-on-primary);
}
