:host {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: calc(5 * var(--kakao-elevator-size));
    gap: 10px;
}

:host:not(:defined) {
    display: none;
}

label[name=theme-switch] {
    grid-column: 2;
}
